body {
  background-color: #fffdf9;
  margin-left: 35%;
  margin-right: 35%;
}

hr {
  border-color: #bae5e5;
  border-style: dotted none none;
  border-width: 5px;
  width: 50px;

}

img {
  height: 140px;
}

h1 {
  color: #758184;
}

h3 {
  color: #66BFBF;
}

p {
  font-family:cursive, Arial,"Lucida Grande",sans-serif;
    font-weight: 300;
}
